@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;

    background-color: #F2F3F5;
}

.col-1 {
    flex: 3.5;
    background-color: #F2F3F5;
    overflow-y: scroll;
}

.col-1 {
    overflow-y: scroll;
    scrollbar-color: #9ea6b1 #CCD5E0;
    scrollbar-width: thin !important;
}

.col-1::-webkit-scrollbar {
    width: 0.2rem;
}

.col-1::-webkit-scrollbar-thumb {
    background-color: #CCD5E0;
}

.col-1::scrollbar-width {
    width: thin;
}

.col-1::scrollbar-color {
    background-color: #B0A9FF;
}


.col-2 {
    overflow-y: scroll;
    scrollbar-color: #9ea6b1 #CCD5E0;
    scrollbar-width: thin !important;
}
.col-2::-webkit-scrollbar {
    width: 0.2rem;
}

.col-2::-webkit-scrollbar-thumb {
    background-color: #CCD5E0;
}

.col-2::scrollbar-width {
    width: thin;
}

.col-2::scrollbar-color {
    background-color: #B0A9FF;
}

.col-2 {
    /* display: none; */
    flex: 1;
    overflow-y: auto;
    padding: 20px 2em;
    background-color: white;
}

.col-3 {
    overflow-y: scroll;
    scrollbar-color: #9ea6b1 #CCD5E0;
    scrollbar-width: thin !important;
}
.col-3::-webkit-scrollbar {
    width: 0.2rem;
}

.col-3::-webkit-scrollbar-thumb {
    background-color: #CCD5E0;
}

.col-3::scrollbar-width {
    width: thin;
}

.col-3::scrollbar-color {
    background-color: #B0A9FF;
}

.col-3 {
    display: none;
    flex: 1;
    overflow-y: auto;
    padding: 20px 2em;
    background-color: white;
}

.main-nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: white;
}

.content-search {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-responsive-block {
    display: none;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 4em;
    padding: 1em;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 2; 
}

.search-showresp {
    position: relative;
    width: 100%;
}

.search-showresp input[type=text] {
    width: 100%;
    height: 40px;
    background-color: #696b6d;
    padding: 0 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(97, 97, 97);
}


.search-showresp input[type="text"]::-webkit-input-placeholder {
    color: #B5C3D7;
}

.search-showresp span {
    position: absolute;
    left: 15px;
    top: 10px;
}

.search-showresp span i {
    color: #B5C3D7;
}

.link-login {
    cursor: pointer;
    background-color: transparent;
    color: #00C9FF;
    font-size: 0.9em;
    border: 1px solid #00C9FF;
    padding: 0.4em 1em;
    border-radius: 4px;
    transition: background .3s ease-in;
}

.link-login:hover {
    background-color: #00C9FF;
    color: white;
}


.search {
    position: relative;
}

.search-almost {
    width: 90%;
}

.search-full {
    width: 100%;
}

.search input[type=text] {
    width: 100%;
    height: 40px;
    background-color: #ebe8e8;
    padding: 0 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(97, 97, 97);
}


.search input[type="text"]::-webkit-input-placeholder {
    color: #B5C3D7;
}

.search span {
    position: absolute;
    left: 15px;
    top: 10px;
}

.search span i {
    color: #B5C3D7;
}

.buscar-responsive {
    display: none;
    margin: 1em 0.5em;
    cursor: pointer;
}

.buscar-responsive i {
    color: #4a4d52 !important;
}

.content {
    width: 100%;
    padding: 0 3em;
    display: grid;
    grid-gap: 1rem;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
}

.content-grid {
    grid-template-columns: repeat(auto-fill, 31.5%);
}

.content-grid-no-auth {
    grid-template-columns: repeat(auto-fill, 23%);
}

.card-hero {
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 30px;
    position: relative;
}

.herder-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em 1em 1em;
}

.upper-left {
    display: flex;
    align-items: center;
}

.upper-left img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 1em;

}

.upper-left div h3 {
    font-size: 1em;
    cursor: pointer;
    color: #2f2f2f;
}

.upper-left div h5 {
    color: #BEBDC0;
    font-size: 0.8em;
}

.img-card {
    width: 100%;
    height: 300px;
}

.img-card img {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
    cursor: pointer;
}

.footer-card {
    display: flex;
    flex-direction: column;
    padding: 0.3em 1em 1.5em 1em;
}

.media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-desc {
    margin-top: 0.5em;
}

.texto-desc h5 {
    color: #BEBDC0;
}




.menu-dots i {
    cursor: pointer;
}


/* COL 2 */

.cerrar-sesion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cerrar-sesion div {
    color: #FE9800;
    padding: 0.8em 0 0.8em 0.8em;
    cursor: pointer;
}

.profile {
    padding: 5em 3em 0 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1em; */
}

.profile img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 55px;
    /* border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

.profile h3 {
    margin-top: 1em;
}

.profile h5 {
    color: #BEBDC0;
    font-size: 0.9em;
}

.btn-edit {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 0.7em 1.5em;
    margin-top: 0.5em;
    font-size: 0.9em;
    cursor: pointer;
}

.estadisticas {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.estadisticas div {
    width: 100%;
    text-align: center;
}

.estadisticas div p {
    color: #BEBDC0;
    font-size: 0.9em;
}

.descrip-profile {
    text-align: center;
    width: 100%;
    margin-top: 2em;
    padding: 0 1em;
}

.descrip-profile h3 {
    margin-bottom: 0.5em;
}

.descrip-profile p {
    color: #BEBDC0;
    font-size: 0.9em;
    line-height: 1.7;
}

.descrip-profile a {
    color: #00C9FF;
    font-size: 0.9em;
}

.btn-add-post {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.btn-add-post div {
    width: 80%;
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.btn-add-post div:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: none;
}

.tus-post {
    margin-top: 2em;
    padding: 0 1em;
    overflow-y: scroll;
    scrollbar-color: #9ea6b1 #CCD5E0;
    scrollbar-width: thin !important;
}

.tus-post::-webkit-scrollbar {
    width: 0.2rem;
}

.tus-post::-webkit-scrollbar-thumb {
    background-color: #CCD5E0;
}

.tus-post::scrollbar-width {
    width: thin;
}

.tus-post::scrollbar-color {
    background-color: #B0A9FF;
}

.content-posts-mios {
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-gap: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 23%);
    margin-top: 1em;
}

.card-mis-post {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-mis-post img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
}

.card-mis-post h5 {
    font-size: 0.8em;
    text-align: center;
}



/* DETAIL */

.content-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.inner-card {
    margin: 0 auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.header-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-detail img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 1em;
}

.user-detail div h3 {
    font-size: 1.2em;
}

.user-detail div h4 {
    font-size: 1em;
    margin-right: 1em;
    cursor: pointer;
}

.info-user-detail {
    display: flex;
    align-items: center;
}

.info-user-detail p {
    color: #696b6d;
    font-size: 0.9em;
}

.like-button div {
    cursor: pointer;
    border: 1px solid #00C9FF;
    padding: 0.5em 1em;
    border-radius: 4px;
    color: #00C9FF;
}

.content-paragraph p {
    margin-top: 1em;
}

.content-back-link {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.back-link {
    border: 1px solid #a3a6a7;
    border-radius: 4px;
    padding: 1em 1.4em;

}

.back-link i {
    color: #a3a6a7;
    font-size: 1em;
}

.comments-section {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comments-section form {
    width: 35%;
}


.comments-section form textarea{
    width: 100%;
    background-color: transparent;
    padding: 1em 20px;
    box-sizing: border-box;
    border: 1px solid #9aa5a0;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #454747;
    margin-bottom: 0.7em;
}

.comments-section form input[type="text"]::-webkit-input-placeholder {
    color: #9aa5a0;
    font-size: 0.9em;
}


.comments-section form button {
    width: 100%;
    padding: 0.8em 0;
    margin-top: 0.3em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #00C9FF;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #00C9FF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.comments-section form button:hover {
    background-color: #0ab8e9;
    border: 1px solid #0ab8e9;
}


.comments-card {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.comments-card p {
    margin-top: 1em;
    color: #696b6d;
}

.user-card {
    display: flex;
    margin-top: 2em;
}

.user-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 1em;

}

.user-card div h3 {
    font-size: .9em;
    cursor: pointer;
}

.user-card div h5 {
    color: #BEBDC0;
    font-size: 0.8em;
}




.menu-user {
    position: absolute;
    right: 3em;
    top: 4.2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1.4em 2em;
    z-index: 9;
}

.menu-user a {
    margin-bottom: 1em;
    color: #2f2f2f;
}

.menu-user a:hover {
    color: #00C9FF;
}


.menu-user span {
    color: #2f2f2f;
    cursor: pointer;
}

.menu-user span:hover {
    color: #00C9FF;
}













/* LOGIN / REGISTRO */

.content-login {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
}

.left-login {
    flex: 1;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo svg {
    transform: scale(2);
}


.cambio-form {
    width: 25%;
    display: flex;
    margin-bottom: 2em;
}

.cambio-form h2 {
    color: #a9b9b9;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
}

.cambio-form h2.selected {
    color: #526463;
    border-bottom: 4px solid #00C9FF;
}

.left-login h3 {
    margin: 1em 0 2em 0;
    color: #526463;
    font-weight: 600;
    font-size: 1.2em;
}


.left-login form {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.left-login form input[type=email]{
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 1.5em 20px;
    box-sizing: border-box;
    border: 1px solid #9aa5a0;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #454747;
    margin-bottom: 0.7em;
}

.left-login form input[type="email"]::-webkit-input-placeholder {
    color: #9aa5a0;
    font-size: 0.9em;
}

.left-login form input[type=password]{
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 1.5em 20px;
    box-sizing: border-box;
    border: 1px solid #9aa5a0;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #454747;
    margin-bottom: 0.7em;
}

.left-login form input[type="password"]::-webkit-input-placeholder {
    color: #9aa5a0;
    font-size: 0.9em;
}

.left-login form input[type=text]{
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 1.5em 20px;
    box-sizing: border-box;
    border: 1px solid #9aa5a0;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #454747;
    margin-bottom: 0.7em;
}

.left-login form input[type="text"]::-webkit-input-placeholder {
    color: #9aa5a0;
    font-size: 0.9em;
}



.left-login form button {
    width: 100%;
    padding: 1em 0;
    margin-top: 0.3em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #00C9FF;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #00C9FF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.left-login form button:hover {
    background-color: #0ab8e9;
    border: 1px solid #0ab8e9;
}

.left-login .cambio-formulario {
    color: #2f2f2f;
    font-weight: 400;
    margin-top: 1.3em;
    font-size: 0.8em;
    cursor: pointer;
}

.left-login .cambio-formulario span {
    color: #FE9800;
}

.right-login {
    flex: 1.5;
    background-color: #FE9800;
}

.right-login {
    background-image: url('bg-login6.svg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-login h1 {
    color: #2e1f09;
    font-size: 3em;
}

.right-login h3 {
    color: #2e1f09;
    font-size: 1.4em;
}

.right-login img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.btn-ver-ilustraciones {
    background-color: #885b18;
    color: #ebcc9f;
    font-size: 0.9em;
    padding: 1em;
    margin-top: 1em;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.btn-ver-ilustraciones:hover {
    background-color: #694715;
}


/* ADD POST */

.contenido-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}

.card-add-post {
    width: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-add-post h2 {
    margin: 1em 0;
}

.card-add-post form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.icon-image-upload {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    border: 3px dashed;
    border-color: #9aa5a0;
}

.icon-image-upload i {
    cursor: pointer;
    color: #9aa5a0;
}

.card-add-post form textarea {
    width: 100%;
    height: 150px;
    background-color: #F2F3F5;
    padding: 1em 20px;
    box-sizing: border-box;
    border: 1px solid #edeef0;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #454747;
    margin-bottom: 0.7em;
}

.card-add-post form textarea::-webkit-input-placeholder {
    color: #acb8c9;
    font-size: 0.9em;
}

.card-add-post form div button {
    width: 40%;
    padding: 0.9em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: #FE9800;
    font-size: 1em;
    border: 1px solid #FE9800;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.card-add-post form button:hover {
    background-color: #da860a;
    border: 1px solid #da860a;
}

.card-add-post form div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-cancelar {
    width: 40%;
    padding: 0.9em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: #FE9800;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    font-size: 1em;
    border: 1px solid #FE9800;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.mostrar-profile-responsive {
    display: none;
    margin-left: 1em;
}

.mostrar-profile-responsive i {
    cursor: pointer;
    color: #FF8008;
}



.footer-main {
    width: 100%;
}

.content-footer {
    width: 100%;
    height: 100px;
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content-footer a svg path {
    fill: #A5ADAD;
}

.menu-card {
    position: absolute;
    height: 60px;
    width: 50%;
    top: 65px;
    right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 29px 0 rgba(100,100,111,.2);
}


/* MEDIAQUERYS */

@media (max-width: 1500px) {
    .content-grid-no-auth {
        grid-template-columns: repeat(auto-fill, 31.5%);
    }

    .card-add-post {
        width: 55%;
    }
}

@media (max-width: 1400px) {

    .col-1 {
        flex: 2.8;
    }

    .content-grid {
        grid-template-columns: repeat(auto-fill, 48%);
    }
}

@media (max-width: 1280px) {
    .right-login {
        flex: 1;
        background-position: right;
    }

    .right-login h1 {
        font-size: 2.4em;
    }

    .right-login h3 {
        font-size: 1.1em;
    }
}

@media (max-width: 1130px) {
    .content-grid-no-auth {
        grid-template-columns: repeat(auto-fill, 48%);
    }

    .content-search {
        width: 45%;
    }
}

@media (max-width: 1100px) {
    .col-1 {
        flex: 2.2;
    }

    .card-add-post {
        width: 75%;
    }
}

@media (max-width: 970px) {
    .content-grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .col-1 {
        flex: 1.7;
    }

    .content-login {
        flex-direction: column-reverse;
    }

    .right-login {
        background-position: top right;
    }
}

@media (max-width: 900px) {
    .col-2 {
        display: none;
    }

    .col-3 {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
    }

    .mostrar-profile-responsive {
        display: block;
    }

    .right-login {
        flex: 0.5;
    }
}

@media (max-width: 700px) {
    .content-grid-no-auth {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .search {
        display: none;
    }

    .buscar-responsive {
        display: block;
    }

    .content-search {
        justify-content: flex-end;
    }

    .search-responsive-block {
        display: block;
    }
}

@media (max-width: 550px) {
    .modal-container img {
        width: 350px;
        height: 450px;
    }

}


@media (max-width: 500px) {
    .left-login form {
        width: 80%;
    }

    .right-login h1 {
        font-size: 2em;
    }

    .right-login h3 {
        font-size: 0.9em;
    }

    .card-add-post {
        width: 85%;
    }

    .search-responsive-block {
        width: 70%;
    }
}

@media (max-width: 450px) {
    .content {
        padding: 0 1.5em;
    }

    .main-nav {
        padding: 0 1.5em;
    }

    .main-nav a svg {
        transform: scale(0.9);
    }
}

@media (max-width: 400px) {
    .left-login form {
        width: 90%;
    }

    .right-login h1 {
        font-size: 1.6em;
    }

    .left-login h3 {
        font-size: 1em;
    }

    .card-add-post {
        width: 90%;
    }

    .search-responsive-block {
        width: 80%;
        right: 3em;
    }

    .modal-container img {
        width: 250px;
        height: 350px;
    }
}